/* GLOBAL */
main {
  max-width: 1000px;
  margin: auto;
}
section {
  margin: 120px 0px;
}
.sectionTitle {
  position: relative;
  margin: 40px 0;
}

.sectionTitle::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  left: 0;
  right: 0;
  top: 45px;
  margin: auto;
  background-color: var(--first-color);
}
@media (max-width: 800px) {
  main {
    margin: 0 20px;
  }
  section {
    margin: 60px 0;
  }
}

/* HOME */
.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials {
  margin-top: 15px;
  display: flex;
}

.socials a {
  font-size: 30px;
  margin: 10px;
  color: black;
}
.socials a:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: var(--first-color);
}

.image {
  background-color: var(--first-color);
  overflow: hidden;
  border-radius: 50%;
  height: 330px;
  width: 330px;
}
.image img {
  filter: drop-shadow(10px 1px 10px rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 800px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;
  }
  .image {
    height: 200px;
    width: 200px;
  }
  .text {
    margin-top: 10px;
    width: 100%;
  }
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
}
.about a {
  width: 30%;
  margin-right: 80px;
  border-radius: 10px;
  overflow: hidden;
}
.about > div {
  width: 70%;
}
.about h3 {
  margin-bottom: 10px;
}
.about b {
  color: var(--first-color);
  font-weight: 600;
}
.about p {
  font-size: 18px;
}
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about a {
    height: 200px;
    width: 200px;
    margin: 10px 0;
  }

  .about > div {
    width: 100%;
  }
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills > div {
  width: 70%;
}

.skills p {
  font-size: 18px;
}
.skills img {
  width: 80%;
  margin-left: auto;
  border-radius: 10px;
}
.skill {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px 10px 5px 5px;
  margin: 10px 0;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(14, 36, 49, 0.5);
}
.skill div {
  position: absolute;
  background-color: var(--first-color);
  height: 5px;
  width: 10%;
  bottom: 0;
  left: 0;
}
.skill svg {
  color: var(--black-color);
  font-size: 30px;
}
@media (max-width: 800px) {
  .skillsImage {
    display: none;
  }
  .skills div {
    width: 100%;
  }
  .skills {
    text-align: center;
  }
}

/* PROJECTS */
.workSection {
  text-align: center;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work a {
  margin: 10px;
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(14, 36, 49, 0.5);
}
.work img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.work > a:hover {
  transform: scale(1.3);
  transition: 0.5s;
  z-index: 9;
}

.workInfo {
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  padding: 10px;
}

.work > a:hover .workInfo {
  display: block;
  transition: 1s;
}

.workInfo p {
  color: var(--white-color);
}
@media (max-width: 800px) {
  .work {
    flex-direction: column;
  }
  .work > a:hover {
    transform: scale(1.1);
  }
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
