nav {
  box-shadow: 0px 0px 10px var(--first-color);
  padding:0 20px;
}
.header{
  margin:auto;
  padding: 10px 0px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: black;
}
.header div{
  display: flex;
  align-items: center;
}
.menu * {
  margin: 0 15px;
  color: black;
}
.logo:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: var(--first-color);
}

.logo {
  font-size: 24px;
}
.contact{
  color:white;
  font-size: 18px;
  padding: 8px 15px;
  display: block !important;
}
@media (max-width: 800px) {
  .menu * {
    margin:0;
    display: none;
  }
  
}