@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* ROOT */
:root {
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    --black-color: black;
    --white-color: white;
    --body-font: "Poppins", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: var(--body-font);
    color: var(--second-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  .firstColor {
    color: var(--first-color);
  }
  
  /* FONTS */
  h1 {
    font-size: 55px;
    color: var(--black-color);
  }
  h2 {
    font-size: 28px;
    color: var(--first-color);
    text-align: center;
  }
  
  h3 {
    font-size: 22px;
    color: var(--black-color);
    line-height: 28px;
  }
  h4 {
    font-size: 18px;
    color: var(--first-color);
  }
  p {
    font-size: 14px;
    color: var(--black-color);
  }
  .button {
    margin-top: 60px;
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 22px;
    line-height: 30px;
  }
  .button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
  
  input,
  textarea {
    margin: 10px;
    width: 500px;
    font-size: 16px;
    font-weight: 600;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid var(--second-color);
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
      line-height: 30px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    .button {
      margin-top: 30px;
      padding: 10px 20px;
      font-size: 20px;
      line-height: 20px;
    }
    input,
    textarea {
      margin: 10px;
      width: 300px;
      font-size: 14px;
    }
  }
  